@page "/"

<div class="welcomeMessageContainer">
    <div class="welcomeMessage">
        <h2>Welcome to Account App</h2>
        <h4>You can use the navigator menu from the left to manage accounts/transactions/balance</h4>
    </div>
</div>
